html{
	height:100%;
}
body{
	background-color:lavender;
	height:100%;
}

#banner-image{
width:100%;
height:90px;
background: rgba(117,189,209,1);
background: -moz-linear-gradient(-45deg, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 3%, rgba(147,206,222,1) 3%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(117,189,209,1)), color-stop(3%, rgba(117,189,209,1)), color-stop(3%, rgba(147,206,222,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(-45deg, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 3%, rgba(147,206,222,1) 3%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(-45deg, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 3%, rgba(147,206,222,1) 3%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 3%, rgba(147,206,222,1) 3%, rgba(73,165,191,1) 100%);
background: linear-gradient(135deg, rgba(117,189,209,1) 0%, rgba(117,189,209,1) 3%, rgba(147,206,222,1) 3%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#49a5bf', GradientType=1 );
}


nav a{
	text-decoration:none;
}

nav li{
	display:inline;
	margin-left:5%;
}

header{
	
}

content{
	float:left;
	width:60%;
	height:60%;
}

aside{
	float:right;
	width:30%;
	height:60%;
}

footer{
position: fixed;
Width: 100%;
height:20%;
bottom: 0;
}

footer ul{
	list-style-type:none;
}

#bottom_bar li{
	list-style-type:none;
}